xception_binary_classifier_0_full_arch_avg_pool_epochs_3.h5
xception_binary_classifier_1_full_arch_avg_pool_ratio_10_1_epochs_11.h5
xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_7.h5
xception_binary_classifier_3_full_arch_avg_pool_epochs_5.h5
xception_binary_classifier_4_full_arch_avg_pool_epochs_5.h5
xception_binary_classifier_5_full_arch_avg_pool_ratio_10_1_epochs_7.h5
